<!DOCTYPE html>

{% block content %}
<html lang="en">
{% load static %}


<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{question}}</title>

    <!-- Bootstrap Core CSS -->
     <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{ %static 'css/blog-post.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<br><br>
<body top-margin="70px">

    <!-- Page Content -->
    <div class="container" margin="80px 0px 0px" >

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                
                <!-- Title -->
                <h1>{{question}}</h1>

                <!-- Author -->
                <p class="lead">
                    by Author
                </p>

                <hr>	
				<!-- Post Content -->
                <p >{% autoescape off %}{{question.body}}{% endautoescape %}</p>

                <hr>

                <!-- language select-->
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
					Select Your Language
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">C</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">C++</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">JAVA</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="#">PYTHON</a></li>
					</ul>
				</div>

                <!-- Form -->
                <div class="well">
                    <h4>Solution:</h4>
					
                    <form role="form">
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <hr>

                  </div>
                </div>

            </div>

         
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

 <!-- jQuery -->
   <script src="{% static '/js/jquery.js'%}"></script>

   <!-- Bootstrap Core JavaScript -->
   <script src="{% static '/js/bootstrap.min.js'%}"></script>

</body>
  {% endblock %}
</html>
